<a href="https://colab.research.google.com/github/anarossati/ocean-backend-nuvem-04-02-2021/blob/main/Introdu%C3%A7%C3%A3o_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Olá, Ana!")

Olá, Ana!

In [4]:
nome = "Ana"
print (nome)

Ana

In [5]:
sobrenome = "Rossati"

nome_completo = nome + " " + sobrenome

print(nome_completo)

Ana Rossati

In [6]:
idade = 27
print(idade)

27

In [13]:
lista = [5, 9, 7, 6]

print(lista)

print(type(lista))

print("Primeiro elemento é o", lista[0])

print(len(lista), "elementos")

print("Elementos únicos:", set(lista))

[5, 9, 7, 6]
<class 'list'>
Primeiro elemento é o 5
4 elementos
Elementos únicos: {9, 5, 6, 7}

In [14]:
# 0 -> Preto
# 1 -> Branco
# Qualquer valor entre 0 e 1 representa um tom de cinza

linha1 = [0, 0, 0]
linha2 = [0, 1, 0]
linha3 = [0, 0.5, 0]

imagem = [linha1, linha2, linha3]

print(imagem)

[[0, 0, 0], [0, 1, 0], [0, 0.5, 0]]

In [19]:
# tupla nao permite que eu mude o valor dela
# nao precisa de parênteses

tupla = (5, 6, 7)

print(tupla)

print(type(tupla))

print(tupla[0])

print(len(tupla))

(5, 6, 7)
<class 'tuple'>
5
3

In [20]:
tupla = 4, 9, 3

tupla = list(tupla)

tupla[0] = 99

tupla = tuple(tupla)

print(tupla)
print(type(tupla))

(99, 9, 3)
<class 'tuple'>

In [24]:
tupla = "Paulo", "Salvatore"

print(tupla)
print(type(tupla))

nome = tupla[0]
sobrenome = tupla[1]

print(nome)
print(sobrenome)

('Paulo', 'Salvatore')
<class 'tuple'>
Paulo
Salvatore

In [25]:
lista = ("Paulo", "Salvatore")

print(lista)
print(type(lista))

nome = lista[0]
sobrenome = lista[1]

print(nome)
print(sobrenome)

('Paulo', 'Salvatore')
<class 'tuple'>
Paulo
Salvatore